/*
 * VS Code Python Syntax Theme for Pygments
 * Designed for MkDocs integration
 * Based on Visual Studio Code's default light theme
 */

/* Base code block styling */
.highlight {
  background: #ffffff;
  color: #000000;
}

.highlight pre {
  padding: 1em;
  overflow-x: auto;
  line-height: 1.4;
}

/* Comments */
.highlight .c,   /* Comment */
.highlight .cm,  /* Comment.Multiline */
.highlight .c1,  /* Comment.Single */
.highlight .cs {  /* Comment.Special */
  color: #008000;
  font-style: italic;
}

/* Strings */
.highlight .s,   /* String */
.highlight .s1,  /* String.Single */
.highlight .s2,  /* String.Double */
.highlight .sc,  /* String.Char */
.highlight .se,  /* String.Escape */
.highlight .sh,  /* String.Heredoc */
.highlight .si,  /* String.Interpol */
.highlight .sx {  /* String.Other */
  color: #a31515;
}

/* Docstrings */
.highlight .sd {  /* String.Doc */
  color: #008000;
  font-style: italic;
}

/* Numbers */
.highlight .m,   /* Number */
.highlight .mf,  /* Number.Float */
.highlight .mh,  /* Number.Hex */
.highlight .mi,  /* Number.Integer */
.highlight .mo,  /* Number.Oct */
.highlight .mb,  /* Number.Bin */
.highlight .il {  /* Number.Integer.Long */
  color: #098658;
}

/* Keywords (def, class, if, for, while, etc.) */
.highlight .k,   /* Keyword */
.highlight .kc,  /* Keyword.Constant (True, False, None) */
.highlight .kd,  /* Keyword.Declaration */
.highlight .kn,  /* Keyword.Namespace (import) */
.highlight .kp,  /* Keyword.Pseudo */
.highlight .kr,  /* Keyword.Reserved */
.highlight .kt {  /* Keyword.Type */
  color: #0000ff;
}

/* Built-in functions and types */
.highlight .nb {  /* Name.Builtin (print, len, int, str, etc.) */
  color: #267f99;
}

/* Function and class names in definitions */
.highlight .nc {  /* Name.Class */
  color: #795e26;
  font-weight: bold;
}

.highlight .nf,  /* Name.Function */
.highlight .fm {  /* Name.Function.Magic */
  color: #795e26;
}

/* Decorators */
.highlight .nd {  /* Name.Decorator */
  color: #795e26;
}

/* Variables and names */
.highlight .n,   /* Name */
.highlight .nv,  /* Name.Variable */
.highlight .vi,  /* Name.Variable.Instance */
.highlight .vg {  /* Name.Variable.Global */
  color: black;
}

/* Special variables (self, cls) */
.highlight .bp {  /* Name.Builtin.Pseudo (self, cls) */
  color: #0000ff;
}

/* Operators */
.highlight .o,   /* Operator */
.highlight .ow {  /* Operator.Word (and, or, not, in, is) */
  color: #000000;
}

/* Punctuation */
.highlight .p {  /* Punctuation */
  color: #000000;
}

/* Error highlighting */
.highlight .err {  /* Error */
  color: #a31515;
}

/* Generic (for diffs) */
.highlight .gi {  /* Generic.Inserted */
  color: #098658;
  background-color: #e6ffed;
}

.highlight .gd {  /* Generic.Deleted */
  color: #a31515;
  background-color: #ffebe9;
}

/* Emphasis */
.highlight .ge {  /* Generic.Emph */
  font-style: italic;
}

/* Strong */
.highlight .gs {  /* Generic.Strong */
  font-weight: bold;
}

/* Optional: Dark theme variant for MkDocs dark mode */
@media (prefers-color-scheme: dark) {
  .highlight {
    background: #1e1e1e;
    color: #d4d4d4;
  }
  
  .highlight .c,
  .highlight .cm,
  .highlight .c1,
  .highlight .cs {
    color: #6a9955;
  }
  
  .highlight .s,
  .highlight .s1,
  .highlight .s2,
  .highlight .sc,
  .highlight .se,
  .highlight .sh,
  .highlight .si,
  .highlight .sx {
    color: #ce9178;
  }
  
  .highlight .sd {
    color: #6a9955;
  }
  
  .highlight .m,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .mo,
  .highlight .mb,
  .highlight .il {
    color: #b5cea8;
  }
  
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt {
    color: #569cd6;
  }
  
  .highlight .nb {
    color: #4ec9b0;
  }
  
  .highlight .nc,
  .highlight .nf,
  .highlight .fm,
  .highlight .nd {
    color: #dcdcaa;
  }
  
  .highlight .n,
  .highlight .nv,
  .highlight .vi,
  .highlight .vg {
    color: #9cdcfe;
  }
  
  .highlight .bp {
    color: #569cd6;
  }
  
  .highlight .o,
  .highlight .ow,
  .highlight .p {
    color: #d4d4d4;
  }
  
  .highlight .gi {
    color: #b5cea8;
    background-color: #1e3a1e;
  }
  
  .highlight .gd {
    color: #ce9178;
    background-color: #3a1e1e;
  }
}
